.footer {
  background-color: $theme-dark-blue;
  color: #fff;
  a {
    color: #fff;
  }
  i {
    background-color: #fff !important;
    color: $theme-dark-blue !important;
  }
}

.footer__col {
  i {
    background: #1a1a1a;
    color: #fff;

    font-size: 1.5rem;
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 9px;
    width: 50px;
    height: 50px;
    line-height: 35px;
    @include media-breakpoint-up(md) {
      font-size: 2rem;
      padding: 15px;
      width: 70px;
      height: 70px;
      line-height: 45px;
    }
  }
  &--1 {
    p {
      @include media-breakpoint-up(md) {
        font-size: 1.25rem;
      }
    }
  }
}
