#loadingWrapper {
  background: #f5f5f5;
  position: fixed;
  top: 0;
  lefT: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}


.home__section {

  

  &--one {
    background-color: rgba(0, 0, 0, 0.7);
    .slide1__second-text,
    .slide1__third-text,
    .slide1__fourth-text {
      display: none;
    }
  }

  &--eight {
    color: #1a1a1a;
    i {
      background: #1a1a1a;
      color: #fff;
      transition: color .3s linear;
      will-change: color;

      &:hover {
        color: $theme-light-blue;
      }

    }

    a {
      color: $theme-light-blue;
    }
  }


}


.background-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -5;
}



.arrow-down {
  height: 50px;
  width: 50px;
  content: "";
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50000;
  display: block;
  background-position: center;
  background-size: cover;
  cursor: pointer;

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  transition: transform .5s linear;

  &:hover {
    transform: translateX(-50%) translateY(20px);
  }
}


// Slide three - client logos

.clients__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 10px;
  align-items: center;
  justify-items: center;
  @include media-breakpoint-up(sm) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 50px 40px;
  }
}

.clients__logo {
  max-height: 50px;
  width: auto;
  display: block;
  @include media-breakpoint-up(sm) {
    max-height: 100px;
  }
}


// BLOG SECTION 


.blog__home-item {
  a {
    color: #fff;

    &:hover {
      text-decoration: none;
    }
  }
}

.blog__home-img-wrap {
  overflow: hidden;
}

.blog__home-img {
  max-width: 100%;
  width: 100%;
  height: auto !important;
}

.owl-carousel .owl-item img {
  height: auto !important;
  max-height: 150px;
  object-fit: cover;
  object-position: center;
  @include media-breakpoint-up(md) {
    max-height: 500px;
    max-height: unset;
    
  }
}

.blog__home-title {
  margin: 1em 0;
}



//  Menu for homepage

#menuHome {
  position: fixed;
  right: 100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  background-color: $theme-dark-blue;
  z-index: 10;
  width: 100%;
  height: 100%;
  visibility: hidden;
  &.is-active {
    opacity: 1;
    right: 0;
    visibility: visible;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 0;

  }
  .menu-item {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    will-change: color;
    transition: color .3s ease;
    &:hover {
      color: $theme-light-blue;
      text-decoration: none;
    }
    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
    @include media-breakpoint-up(xl) {
      font-size: 2.5rem;
    }
  }
  i {
    font-size: 3rem;
    color: #fff;
    margin-top: .25em;
    &:first-of-type {
      margin-right: 20px;
    }
  }
}


.gallery-item__thumb {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}


/* GENERAL TYPOGRAPHY FOR SLIDES */

.slide__heading {
  text-transform: uppercase;
  font-size: 1rem !important;

  @include media-breakpoint-up(md) {
    font-size: 1rem !important;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.25rem !important;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.25rem !important;
  }

}

.slide__main-text {
  font-size: 1.5rem;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.3rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 2.7rem;
  }
}

.slide__sub-text {
  letter-spacing: 1px;
  font-size: .9rem;
  text-transform: uppercase;
  @include media-breakpoint-up(md) {
    font-size: 1.2rem;
  }
}


.slide__sec-text {
  font-size: 1.15rem;

  @include media-breakpoint-up(md) {
    font-size: 1.25rem;
  }
}


.owl-nav button span {
  font-size: 50px;
  color: #f5f5f5;
  @include media-breakpoint-up(md) {
    font-size: 70px;
  }
}

.owl-nav {
  position: absolute;
  top: -70px;
  right: 0;
  @include media-breakpoint-up(md) {
    top: -100px;
  }
  button {
    &:focus {
      outline: none;
    }
  }
}

button.owl-prev {
  margin-right: 50px;
}

.owl-dots {
  display: none;
}




.home-fade-in {
  opacity: 0;
  transition: opacity .9s ease;

}

.fp-completely {
  
  .home-fade-in {
    opacity: 1;
  }
}