@import url('https://fonts.googleapis.com/css?family=Lato:300,600|Open+Sans:300,400&display=swap');

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$theme-light-blue: #3a98be;
$theme-dark-blue: #103241;
$theme-black: #1a1a1a;

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Open Sans', sans-serif;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif;
// stylelint-enable value-keyword-case

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:                $font-size-base * 1.25 !default;
$font-size-sm:                $font-size-base * .875 !default;

$font-weight-lighter:         lighter !default;
$font-weight-light:           300 !default;
$font-weight-normal:          300;
$font-weight-bold:            700 !default;
$font-weight-bolder:          bolder !default;

$font-weight-base:            $font-weight-normal !default;
$line-height-base:            1.5 !default;

$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;

$headings-font-family:        'Lato';
$headings-font-weight:        300;

// Links
//
// Style anchor elements.

$link-color:                              $theme-dark-blue;
$link-decoration:                         none;
$link-hover-color:                        $link-color;
$link-hover-decoration:                   none;

.text-light-blue {
  color: $theme-light-blue;
}

.text-dark-blue {
  color: $theme-dark-blue;
}
.text-black {
    color: #000;
}
.h-fw-600 {
  font-weight: 600;
}



